defaults: &defaults
  working_directory: ~/buildbox
  docker:
    - image: cimg/ruby:3.2.3

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

commands:
  docker-login:
    description: "Login to Docker Hub"
    steps:
      - run:
          name: Login to Docker Hub
          command: docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}

  set-image-tag:
    description: "Set IMAGE_TAG based on date and commit hash"
    steps:
      - run:
          name: Set IMAGE_TAG
          command: |
            IMAGE_TAG=$(date +%Y%m%d)-${CIRCLE_SHA1:0:7}
            echo $IMAGE_TAG > image_tag.txt
            echo "Docker Image Tag: $IMAGE_TAG"

jobs:
  build-docker-image:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: default
          docker_layer_caching: false
      - docker-login
      - set-image-tag
      - run:
          name: Build Docker image (Rails)
          command: |
            IMAGE_TAG=$(cat image_tag.txt)
            docker build \
              --build-arg ARG_RAILS_MASTER_KEY=${ARG_RAILS_MASTER_KEY} \
              -t ${DOCKER_IMAGE}:$IMAGE_TAG \
              -t ${DOCKER_IMAGE}:latest \
              -f .dockerdev/Dockerfile .
      - run:
          name: Push image to Docker Hub
          command: |
            IMAGE_TAG=$(cat image_tag.txt)
            docker push ${DOCKER_IMAGE}:$IMAGE_TAG
            docker push ${DOCKER_IMAGE}:latest

  deploy-production:
    machine:
      enabled: true
    steps:
      - attach_workspace:
          at: ~/workspace
      - run:
          name: Load IMAGE_TAG from workspace
          command: |
            export IMAGE_TAG=$(cat ~/workspace/image_tag.txt)
            echo "Using IMAGE_TAG=$IMAGE_TAG"
            echo "export IMAGE_TAG=$IMAGE_TAG" >> $BASH_ENV
      - add_ssh_keys:
          fingerprints:
            - ${FINGERPRINTS}
      - run:
          name: Deploy stack using remote script
          command: |
            ssh ${SSH_USER}@${SSH_HOST} "IMAGE_TAG=${IMAGE_TAG} bash ${DEPLOY_MOMLY_FILE}"
      - run:
          name: Clean server 
          command: |
            ssh ${SSH_USER}@${SSH_HOST} 'nohup sh -c "sleep 600 && docker system prune -f" > /dev/null 2>&1 &'

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  build-and-deploy:
    jobs:
      - build-docker-image:
          filters:
            branches:
              only: main
      - deploy-production:
          requires:
            - build-docker-image
          filters:
            branches:
              only: main
