defaults: &defaults
  working_directory: ~/buildbox
  docker:
    - image: cimg/ruby:3.1.2

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

commands:
  docker-login:
    description: "Login to Docker Hub"
    steps:
      - run:
          name: Login to Docker Hub
          command: docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}

jobs:
  build-docker-image:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: default
          docker_layer_caching: true
      - docker-login
      - run:
          name: Build Docker image (Rails)
          command: |
            docker build \
              --build-arg ARG_RAILS_MASTER_KEY=${ARG_RAILS_MASTER_KEY} \
              -t ${DOCKER_IMAGE}:${DOCKER_IMAGE_VERSION} \
              -f .dockerdev/Dockerfile .
      - run:
          name: Push image to Docker hub 
          command: docker push ${DOCKER_IMAGE}:${DOCKER_IMAGE_VERSION}

  deploy-production:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - ${FINGERPRINTS}
      - run:
          name: Deploy stack 
          command: |
            ssh ${SSH_USER}@${SSH_HOST} "docker stack deploy --with-registry-auth -c ${SWARM_STACK} ${STACK_NAME}"
      - run:
          name: Clean server 
          command: |
            ssh ${SSH_USER}@${SSH_HOST} 'nohup sh -c "sleep 600 && docker system prune -f" > /dev/null 2>&1 &'

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  build-and-deploy:
    jobs:
      - build-docker-image:
          filters:
            branches:
              only: main
      - deploy-production:
          requires:
            - build-docker-image
          filters:
            branches:
              only: main
