<% if defined?(@error) && @error.present? %>
  <turbo-stream target="form_response" action="update">
    <template>
      <div class="alert alert-danger text-start">
        <strong class="d-block mb-2">There was a problem generating your QR code:</strong>
        <ul class="mb-0 ps-3">
          <li><%= @error %></li>
        </ul>
      </div>
    </template>
  </turbo-stream>
<% else %>
  <%= turbo_stream.update "qr_modal_frame" do %>
    <%= render partial: "qr_codes/result", locals: { url: @url } %>
  <% end %>
<% end %>
