<% content_for :page_title, @page.meta_title.presence || @page.title %>
<% content_for :meta_description, @page.meta_description if @page.meta_description.present? %>

<section class="features py-5 bg-white">
  <div class="container-lg py-5">
    <%= sanitize(@page.content_html, tags: Page::ALLOWED_TAGS, attributes: Page::ALLOWED_ATTRIBUTES) %>
  </div>
</section>
