<% content_for :page_title, @page.meta_title.presence || @page.title %>
<% content_for :meta_description, @page.meta_description if @page.meta_description.present? %>

<div class="container-lg py-5 text-white">
  <div class="bg-dark p-4 rounded">
    <%= raw @page.content_html %>
  </div>
</div>
