<div class="redirect-container"
     data-controller="redirect"
     data-redirect-url-value="<%= @short_link.original_url %>"
     data-redirect-seconds-value="5">
  <h1>Redirecting...</h1>
  <p>You will be redirected in <span data-redirect-target="countdown">3</span> seconds.</p>
  <p>If it doesn’t happen automatically, <a href="<%= @short_link.original_url %>">click here</a>.</p>
  <button class="redirect-button" data-action="redirect#goto">Go Now</button>
</div>

<!-- JavaScript moved to Stimulus controller -->
