.form-switch .form-check-input {
  transform: scale(1.3);
  transform-origin: left center;
  cursor: pointer;
}

.qr-code-preview {
  max-width: 480px;
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

